body,
html {
  margin: 0;
  padding: 0;
  top: 0;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(22, 22, 22);
  color: white;
}

.font_title {
  font-family: "Playwrite DE Grund", system-ui;
}

#login_form,
#sign_form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#login_form input,
#sign_form input {
  border-radius: 8px;
  border: none;
  height: 30px;
  width: 400px;
}

#login_form input:hover,
#sign_form input:hover {
  background-color: antiquewhite;
}

.error_login {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 50px;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
nav button {
  border: none;
  background-color: rgba(240, 248, 255, 0);
  padding: 3px 10px 3px 10px;
  border-radius: 8px;
  cursor: pointer;
}
#btn_right {
  display: flex;
  justify-content: right;
}
